.clearfix:after, .row:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.clearfix, .row { display: inline-block;}
html[xmlns] .clearfix, html[xmlns] .row { display: block;}
*:focus { outline: none;}  

body { background:url(./images/hid.jpg) repeat; font-family:Arial, Helvetica, sans-serif; color:#ffffff; margin-top:50px; padding:0;}
input, select, textarea { font-family:Arial, Helvetica, sans-serif; color:#595959; font-size:18px; margin:0; padding:0;}
a { outline:none; text-decoration:none; color:#ffff00;}
a:hover { text-decoration:underline;}
h2,h3,h4,h5,h6 { font-weight:normal; margin:0; padding:0;}

p { margin:0 0 10px; color:#595959;}
h2 { color:#FFFFFF; font-size:25px; padding:0 0 10px 0; font-weight:bold; outline:none;}
h3 { color:#7f7f7f; font-size:16px; line-height:20px; font-weight:normal; outline:none;}


#main { width:962px; margin:3px auto;}

#left_side { float:left; width:642px;}
#container { overflow:hidden; padding: 20px 0 20px 20px; background:#000; border:1px solid #d5d5d5;
 border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; box-shadow: 0 0 20px rgba(0,0,0,.32); 
 -moz-box-shadow: 0 0 20px rgba(0,0,0,.32); -webkit-box-shadow: 0 0 20px rgba(0,0,0,.32); opacity:0.8;}
article { width:320px; padding:15px 0 0;}
hgroup { margin-right:20px;}

.form { margin:0; padding:0;}
.form fieldset { border:none; padding: 10px 0 0; margin:0;}
.form .last { margin:0 !important;}

.form h4 { font-size:25px; color:#d93131; line-height:33px; margin-bottom:15px;}
.form h4 span { display:block; float:left; width:13px; padding:0 10px; height:33px; background:url(./images/h4_span.png) no-repeat center; color:#4e4e4e; font-size:19px; font-weight:bold; margin-right:15px; text-shadow:1px 1px 0 #f0f0f0;}

.form .row { margin-bottom:20px;}

.form label { color:#595959; font-size:16px; display:block; float:left; padding-bottom:9px; width:100% }
.form label em { color:#e33636; font-weight:bold; margin-left:3px; }
.form label a { color:#d93131;}
.form label .tooltip { display:block; float:right; margin-right:5px; width:17px; height:17px; background:url(./images/tooltip.png) no-repeat;}
.form .inner_labels label { padding:7px 15px 7px 0; width:auto;}

.form input[type="text"], .form .row input[type="password"], .form select, .form textarea { background:#f5f5f5; box-shadow: 0 0 5px rgba(0,0,0,.1), 0 2px 2px rgba(0,0,0,.1) inset; -moz-box-shadow: 0 0 5px rgba(0,0,0,.1), 0 2px 2px rgba(0,0,0,.1) inset; -webkit-box-shadow: 0 0 5px rgba(0,0,0,.1), 0 2px 2px rgba(0,0,0,.1) inset; border:1px solid #c5c5c5; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.form input[type="text"], .form .row input[type="password"] { width:268px; padding: 1px 10px; height:33px; line-height:33px;}
.form select { padding: 6px 5px; width: 290px; height:37px; line-height:33px;}
.form textarea { padding: 5px 10px; width: 100%; height:95px; line-height:19px; width:580px; font-size:15px;}
.form input[type="checkbox"], .form .row input[type="radio"] { display:block; float:left; margin: 10px 7px 10px 0; }
.form input.hasDatepicker { float:left; width: 113px; margin-right:-27px;}
.form img.ui-datepicker-trigger { float:left; margin-top:9px;}

.form input[type="text"]:focus, .form .row input[type="password"]:focus, .form .row select:focus, .form .row textarea:focus, .form .row input[type="text"]:hover, .form .row input[type="password"]:hover, .form .row select:hover, .form .row textarea:hover {  border:1px solid #c5c5c5; box-shadow: 0 0 5px rgba(0,0,0,.21), 0 2px 2px rgba(0,0,0,.1) inset; -moz-box-shadow: 0 0 5px rgba(0,0,0,.21), 0 2px 2px rgba(0,0,0,.1) inset; -webkit-box-shadow: 0 0 5px rgba(0,0,0,.21), 0 2px 2px rgba(0,0,0,.1) inset;}
.form input.error, .form select.error, .form textarea.error { border:1px solid #eb9393; box-shadow: 0 0 5px #f7c4c4; -moz-box-shadow: 0 0 5px #f7c4c4; -webkit-box-shadow: 0 0 5px #f7c4c4; background-color:#fce4e4; }

.form input[type="submit"] { margin-right:20px; cursor:pointer; color:#fff; text-shadow:1px 1px 0 #6d1111; border:1px solid #bd2525; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; background:#dd3333; background: -webkitkit-gradient(linear, bottom, top, from(#c82828), to(#f23f3f)); background: -moz-linear-gradient(bottom, #c82828, #f23f3f); font-size:16px; padding:5px 20px; font-weight:bold; float:right;}
.form input[type="submit"]:hover { background:#c22e2e; background: -webkitkit-gradient(linear, bottom, top, from(#a72020), to(#e23f3f)); background: -moz-linear-gradient(bottom, #a72020, #e23f3f);}

.form span.label { color:#595959; float:left; line-height:33px; margin:0 10px 0 0;}
.form p.hint { margin:5px 0 0; color:#b0b0b0; font-size:11px;}

.form .item { width:294px; float:left; margin-right:16px;}
.form .item span.label { width:100%; line-height:normal; margin-bottom:10px;}

.copy { float:right; color:#ffffff; font-size:12px; margin:10px 16px 20px 0; text-shadow:1px 1px 1px #000;}

aside { width:240px; float:left; padding:75px 20px 0 20px;}

aside h5 { font-family: Arial; color:#fff; font-size:18px; line-height:30px; font-style:italic; margin-bottom:15px; font-weight:bolder; text-shadow:1px #ffff00;}
aside a.login { display:block; margin-bottom:40px; color:#e04c4c; font-size:17px; text-shadow:1px 1px 1px #000; line-height:19px; background:url(./images/ico_login.png) no-repeat left center; padding-left:25px;}

aside .item { margin:0 0 0px -20px; padding:4px 10px 5px 50px;  border-bottom:1px solid #3d3d3d; box-shadow: 0 1px 0px rgba(0, 0, 0, .3); -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, .3); -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, .3); background:url(./images/aside_h6.png) no-repeat 20px top;}
aside .item.last { border:none; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;}
aside h6 { font-size:17px; margin-bottom:10px; color:#ececec; text-shadow:1px 1px 1px #000; line-height:21px; }
aside p { font-size:12px; line-height:15px; text-shadow:1px 1px 1px #000; color:#9c9c9c;}

#tooltip { z-index:100; position:absolute; display:none; padding:10px; color:#fff; text-shadow:1px 1px 0px #e42323; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; font-size:12px; line-height:17px; background:#db3232; background: -webkit-gradient(linear, center bottom, center top, from(#db3232), to(#ff4b4b)); background: -moz-linear-gradient(bottom, #db3232, #ff4b4b); box-shadow:-1px 1px 1px #e8e8e8; -moz-box-shadow:-1px 1px 1px #e8e8e8; -webkit-box-shadow:-1px 1px 1px #e8e8e8;}  
#tooltip em { position:absolute; bottom: -6px; left:50%; margin-left:-6px; background:url(./images/tooltip_em.png); display:block; width:12px; height:6px;}

.form .ui-slider { margin-top:42px; background:url(./images/slider.png) repeat-x; border:none; height:9px; margin-right:4px; }
.form .ui-slider .ui-slider-handle { margin-top:-1px; background: url("./images/slider_handle.png") no-repeat; border: 0 none; cursor: pointer; height: 19px; width: 19px;  }
.form .ui-slider .ui-slider-range { background: url("./images/slider_range.png") repeat-x; border:1px solid #bbb; height:7px; border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px;}





.style16 {font-size:17px; margin-bottom:10px; color:#ececec; text-shadow:1px 1px 1px #000; line-height:21px;}
.style17{font-size:12px; line-height:15px; text-shadow:1px 1px 1px #000; color:#9c9c9c; border-bottom:1px solid #3d3d3d;}
.style2 {font-size:18px; color:#000000;}

#last {position:absolute; bottom:2px; left:5px;}